<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <system.web>
    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="reecriture">
          <match url="^([A-Za-z\ ]+[0-9]?)$" />
          <action type="Rewrite" url="index.php?page={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>