iframe {

	border-radius: 10px;
	border: 2px solid black;
    box-shadow: 7px 5px 5px grey;

    width: 90%;
    height: 100%;
    min-height: 400px;
    max-height: 700px;

    margin-bottom: 5%;
    z-index: 0;
}

button {

	border: 2px solid black;
	border-radius: 50%;
	box-shadow: 7px 5px 5px grey;
	background-color: rgba(39,119,138, 0.5); 
	font-family: cursive;
	font-size: 0.5em;
	
	margin-bottom: 5%;
	min-width: 80px;
	width: 15%;
	height: 5%;
}

button:hover {

  color : rgb(194,231,209);
}
