body{
  
  font-size : 1.2em;
  font-family: cursive;
  background-color: grey;
  background-image: url("Images/fond_ecran.png");
}

h1{
	text-align: center;
}

button {
  border-radius: 1%;
  margin-left: 20px;
  width: 100px;
}

form {

  /*Marges et taille*/
  margin : auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 10px;
  width: 25%;
  padding : 20px;

  /*Bordures*/
  border : 1px solid black;
  border-radius: 10px;
  box-shadow:  10px 5px 5px grey;

  background-color: rgba(39,119,138, 0.75);

}

form input {

  margin-top: 10px;
  font-size: 15px;
  font-family: cursive;
  width: 95%;
  border-radius: 10px;
  height: 20px;

}

.boutons {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.button{

  font-size: 0.50em;
  font-family: cursive;
  border-radius: 50%;
  box-shadow: 5px 2px 2px grey;
  width : 65px;
  height: 65px;

}

.button:hover {
    color : rgb(194,231,209);
    box-shadow: 5px 2px 2px darkgrey;
 }


.MessageErreur{
    font-size : 12px;
    font-family:monospace;
    padding-left: 20px;
    color: white;
}
