nav {
    
	border : 1px solid black;
	border-radius: 10px;
	width : 50%;
    min-width: 300px;
	background-color: rgba(39,119,138, 0.5); 
 	box-shadow:  7px 5px 5px grey;
 	margin-left: 25%;
    text-shadow: none;
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    /*font : cursive;*/
    list-style-type : none;
    padding-bottom : 24px;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px;
    background-color: lightblue;
    margin : 2px 2px 0 2px;
    border : 1px solid #9EA0A1;
    border-radius: 10px;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: lightcyan;
    border : 1px solid #9EA0A1;
}

#onglets a
{
    display : block;
    color : black;
    text-decoration : none;
    border-radius: 10px;
    padding : 4px;
}

#onglets a:hover
{
    background : white;
}


