/*On garde*/

footer {


    width: 100%;
    margin: -20px;
    margin-top: 20px;
    padding-top : 10px;
    padding-left: 30px;
    background-color: rgb(5,64,87);
    height: 100px;
    color: white;
    font-size: 0.75em;
}

a {
	color : white;
	text-shadow: 3px 2px 2px black;
}

a:visited {
    color : rgb(39,119,138);
}

a:hover {
    color : rgb(194,231,209);
}
